*.bz2
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.rvt
*.rfa
.DS_Store
.idea
initdb.local.bat
.project
.strong-pm
coverage
phantomjs
node_modules
npm-debug.log
server/storage/
server/svgcaptcha/
lmv/
sourceRvts/
lmv.zip
*.zip
build/
build_ent/
build_manage/
mongodb.conf
test/e2e/downloads/*
tags
.tern-port
